/*mobile first, bem, flexbox, grid
*/

body{
   overflow-x: hidden;
}

.backheader{
    height: 60px;
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 70%;
    height: calc(100vh - 60px);
    position: absolute;
    overflow: hidden;
    left: -100vh;
    transition: .4s;

    display: flex;
    flex-direction: column;
    row-gap: 0;    
}

.menu--ativo{
    left: 0;
    transition: .4s;
}

.menu:hover{
    overflow-y: auto;
    overflow-x: none;
}

.menu__link{
    height: 40px;
    min-height: 40px;
    padding-left: 1rem;
    padding-bottom: 15px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-start;
}

.banner{
    width: 100%;
    height: calc(100vh - 60px);
    position: static;
}

.backCards{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitleCards{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.subtitleCards, .spaceCards{
    width: 98%;
}

.spaceCards{
    padding: 1rem 0;    
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    justify-content:space-evenly;
    }

.footer{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

@media screen and (min-width:750px) {
    .menu{
        width: 30%;
    }
}

@media screen and (min-width:1024px) {
    .menu{
        width: 25%;
    }
}