/* mobile first! */

.card{
    width: 300px;
    height: 450px;
    border-radius: 15px;
    border: 10px;
    border-style: solid;
    border-color: black;
    
    display: grid;
    grid-template-areas:
        "card__img"
        "card__theme"
        "card__text"
        "card__button"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 0.7fr 3fr 1.5fr;
    overflow: hidden;
    transition-duration: .3s;

    background: var(--corBase);
}

.card:hover{
    box-shadow: 10px 5px 5px black;
    transition-duration: .3s;
    transform: translate(-3px, -3px);
}



.card__img{
    grid-area: card__img;
    width: 100%;
}

.card__button{

    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 35px;
    width: 70%;
    height: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.card__button:hover{
    transition: 0.25s;
    font-size: 40px;
    transform: translate(-1px, -1px);
}

.card__button{
    background-color: #79C99E;
}

.card--5, .card--6, .card--7, .card--8 {
    display: none;
} 

.card__img--1{
    background-image: url(../img/pexels-alex-andrews-821735.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
}

.card__img--2{
    background-image: url(../img/pexels-cottonbro-4620607.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
}

.card__img--3{
    background-image: url(../img/pexels-adonyi-gábor-1409217.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
}

.card__img--4{
    background: var(--corBase);
    width: 100%;
    height: 100%;

}

.card__theme{
    background-color: var(#FFFFFF00);
    border-bottom: #000000 1px solid;
    
}


.card__theme{
    font-size: 1.4rem;
    font-weight: bolder;
    align-self: flex-end;
    padding-left: 8px;
}

.card__text{
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}