@import url(./css/_layout.css);
@import url(./css/_card.css);

:root{
    --corBase: #FEEFE5;
    --corHeader: #FEEFE5;
    --corMenu:#FEEFE566;
    --corBanner:#FA003F;
    --corContent:#BFB4B0;
    --corFooter:#49392C;
    --fonteEstiloA: 'Vollkorn', serif;
    --fonteEstiloB: 'fonteb';
    --fonteCorPrincipal:1A1423;
    --fonteCorSecundaria:#4f4a4f;
}

.backheader{
    background-color: var(--corHeader);
}

.header__logo{
    max-width: 100px;
    max-width: 100px;
}

.header__menu::before{
    content: 'menu';
    color: var(--fonteCorPrincipal);
    font-size: 2rem;
}

.header__action::before{
    content: 'notifications';
    color: var(--fonteCorPrincipal);
    font-size: 2rem;
    transition-duration: .3s
}

.header__menu:hover::before, .header__action:hover::before{
    font-size: 2.05rem;
    transition-duration: .3s
}

.menu{
    background-color: var(--corMenu);
}

.menu__link{
    color: var(--fonteCorSecundaria);
    font-family: var(--fonteEstiloA);
    font-size: 1.2rem; 
}

.menu__link{
    border-left: 0.5rem solid #FEEFE500;
    transition: 0.5s;
}

.menu__link--on, .menu__link:hover{
    border-left: 0.5rem solid var(--corHeader);
    font-weight:bolder;
    color: black;
    transition: 0.5s;
}

.menu__link--icon1, .menu__link--icon2, .menu__link--icon3, .menu__link--icon4, .menu__link--icon5, .menu__link--icon6, .menu__link--icon7 {
    color: black;
    font-size: 1.5rem;
}

.menu__link--1, .menu__link--2, .menu__link--3, .menu__link--4, .menu__link--5, .menu__link--6 , .menu__link--7{
    padding-left: .7rem;
}

.banner{
    background: url(./img/pina-messina-qQKv7r1BaRw-unsplash.jpg);
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
}

.backCards{
    background: var(--corHeader);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.subtitleCards{
    height: auto;
    border-bottom: .5px solid var(--corFooter);
    font-weight: bolder;
}


.subtitleCards__text{
    font-size: 1.4rem;
    font-weight: bolder;
    padding-left: 8px;
}

.subtitleCards__logo{
    max-width: 65px;
    max-width: 65px;
    padding-right: 8px;
}

.footer{
    background-color: var(--corFooter);
    padding-left: 5px;
}

.footer__logo{
    justify-self: flex-end;
    width: 85px;
    height: 85px;
}

.footer__social{
    color: var(--corBase);
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.underContruction{
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d33f49;
    color: var(--corBase);
}

.underConstruction__icon{
    font-size: 8rem;
    color: yellow;
}

.underConstruction__theme{
    font-size: 2rem;
}

.underConstruction__text{
    font-size: 2rem;
}

body:visited{
text-decoration: none;
color: inherit;

}